In [59]:
import pandas as pd
import numpy as np
# define header since data has none
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]
# load data
url = "https://raw.githubusercontent.com/vbloise3/WhizLabsML/master/autos/imports-85.csv"
df = pd.read_csv(url, error_bad_lines=False, header=None, names=headers, na_values="?")
# head of df
df.head(10)

   symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0
5          2                NaN         audi  ...       19          25  15250.0
6          1              158.0         audi  ...       19          25  17710.0
7          1                NaN         audi  ...       19          25  18920.0
8          1              158.0         audi  ...       17          20  23875.0
9          0                NaN         audi  ...       16          22      NaN

[10 rows x 26 columns]

In [60]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [61]:
# to get categorical features, build a new dataframe containing only the object columns
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

          make fuel_type aspiration  ... engine_type num_cylinders fuel_system
0  alfa-romero       gas        std  ...        dohc          four        mpfi
1  alfa-romero       gas        std  ...        dohc          four        mpfi
2  alfa-romero       gas        std  ...        ohcv           six        mpfi
3         audi       gas        std  ...         ohc          four        mpfi
4         audi       gas        std  ...         ohc          five        mpfi

[5 rows x 10 columns]

In [62]:
# Find any null value entries in the categorical featers
obj_df[obj_df.isnull().any(axis=1)]

     make fuel_type aspiration  ... engine_type num_cylinders fuel_system
27  dodge       gas      turbo  ...         ohc          four        mpfi
63  mazda    diesel        std  ...         ohc          four         idi

[2 rows x 10 columns]

In [63]:
# Find the most frequent value in the num_doors feature 
obj_df["num_doors"].value_counts()

four    114
two      89
Name: num_doors, dtype: int64

In [0]:
# Replace null value num_doors with most frequent value: four
obj_df = obj_df.fillna({"num_doors": "four"})

In [69]:
# Can use replace to replace num_doors and num_cylinders with integers
types_cylinders = obj_df["num_cylinders"].value_counts()
types_doors = obj_df["num_doors"].value_counts()
print(f"types of cylinders:\n", types_cylinders)
print(f"\ntypes of doors:\n", types_doors)

types of cylinders:
 four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: num_cylinders, dtype: int64

types of doors:
 four    116
two      89
Name: num_doors, dtype: int64

In [71]:
# dictionary to use for cleaning up the doors and cylinders
cleanup_nums = {"num_doors":     {"four": 4, "two": 2},
                "num_cylinders": {"four": 4, "six": 6, "five": 5, "eight": 8,
                                  "two": 2, "twelve": 12, "three":3 }}
obj_df.replace(cleanup_nums, inplace=True)
obj_df.head()

          make fuel_type aspiration  ...  engine_type num_cylinders fuel_system
0  alfa-romero       gas        std  ...         dohc             4        mpfi
1  alfa-romero       gas        std  ...         dohc             4        mpfi
2  alfa-romero       gas        std  ...         ohcv             6        mpfi
3         audi       gas        std  ...          ohc             4        mpfi
4         audi       gas        std  ...          ohc             5        mpfi

[5 rows x 10 columns]

In [72]:
obj_df.dtypes

make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
dtype: object