In [64]:
# Class to colorize, bold, or underline output
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'
# 

import pandas as pd
import numpy as np
# define header for our data, the UCI dataset does not have a header
headers = ["age", "workclass", "fnlwgt", "education", "education-num",
           "marital-status", "occupation", "relationship", "race",
           "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country",
           "income"]
# load the data from github repo and convert the values with '?' to NaN
url = "https://raw.githubusercontent.com/vbloise3/WhizLabsML/master/CensusIncome/CensusIncomeDataset.csv"
df = pd.read_csv(url, error_bad_lines=False, header=None, names=headers, na_values="null")
# head of the df
df.head(10)

   age          workclass  fnlwgt  ... hours-per-week  native-country income
0   39          State-gov   77516  ...             40   United-States  <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38            Private  215646  ...             40   United-States  <=50K
3   53            Private  234721  ...             40   United-States  <=50K
4   28            Private  338409  ...             40            Cuba  <=50K
5   37            Private  284582  ...             40   United-States  <=50K
6   49            Private  160187  ...             16         Jamaica  <=50K
7   52   Self-emp-not-inc  209642  ...             45   United-States   >50K
8   31            Private   45781  ...             50   United-States   >50K
9   42            Private  159449  ...             40   United-States   >50K

[10 rows x 15 columns]

In [65]:
# Separate the features
features_df = df.drop('income', axis=1)
# Separate the target
target_df = df.drop(df.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]], axis=1)
features_df

       age          workclass  ...  hours-per-week  native-country
0       39          State-gov  ...              40   United-States
1       50   Self-emp-not-inc  ...              13   United-States
2       38            Private  ...              40   United-States
3       53            Private  ...              40   United-States
4       28            Private  ...              40            Cuba
...    ...                ...  ...             ...             ...
32556   27            Private  ...              38   United-States
32557   40            Private  ...              40   United-States
32558   58            Private  ...              40   United-States
32559   22            Private  ...              20   United-States
32560   52       Self-emp-inc  ...              40   United-States

[32561 rows x 14 columns]

In [66]:
# What data types are in the dataset
features_df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
dtype: object

In [67]:
# Create a dataframe of only the categorical features
categorical_featuresDf = features_df.select_dtypes(include=['object']).copy()
categorical_featuresDf

               workclass    education  ...      sex  native-country
0              State-gov    Bachelors  ...     Male   United-States
1       Self-emp-not-inc    Bachelors  ...     Male   United-States
2                Private      HS-grad  ...     Male   United-States
3                Private         11th  ...     Male   United-States
4                Private    Bachelors  ...   Female            Cuba
...                  ...          ...  ...      ...             ...
32556            Private   Assoc-acdm  ...   Female   United-States
32557            Private      HS-grad  ...     Male   United-States
32558            Private      HS-grad  ...   Female   United-States
32559            Private      HS-grad  ...     Male   United-States
32560       Self-emp-inc      HS-grad  ...   Female   United-States

[32561 rows x 8 columns]

In [68]:
# Find any null value entries in the categorical features
categorical_features_NaN = categorical_featuresDf[categorical_featuresDf.isnull().any(axis=1)]
categorical_features_NaN

      workclass      education  ...      sex  native-country
14      Private      Assoc-voc  ...     Male             NaN
27          NaN   Some-college  ...     Male           South
38      Private   Some-college  ...     Male             NaN
51      Private        HS-grad  ...   Female             NaN
61          NaN        7th-8th  ...     Male             NaN
...         ...            ...  ...      ...             ...
32530       NaN      Bachelors  ...   Female   United-States
32531       NaN      Bachelors  ...   Female   United-States
32539       NaN      Doctorate  ...     Male   United-States
32541       NaN        HS-grad  ...   Female   United-States
32542       NaN        HS-grad  ...     Male   United-States

[2399 rows x 8 columns]

In [69]:
# Which features hava a NaN value?
categorical_featuresDf.columns[categorical_featuresDf.isna().any()].tolist()

['workclass', 'occupation', 'native-country']

In [70]:
#Impute the NaN values using scikit-learn SimpleImpute Class
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
# Impute workclass values
imputer = imputer.fit(features_df[['workclass']])
features_df['workclass'] = imputer.transform(features_df[['workclass']]).ravel()
# Impute occupation values
imputer = imputer.fit(features_df[['occupation']])
features_df['occupation'] = imputer.transform(features_df[['occupation']]).ravel()
# Impute native-country values
imputer = imputer.fit(features_df[['native-country']])
features_df['native-country'] = imputer.transform(features_df[['native-country']]).ravel()

# Recreate the dataframe of only the categorical features
categorical_featuresDf = features_df.select_dtypes(include=['object']).copy()

# Recheck to find any null value entries in the categorical features
categorical_features_NaN = categorical_featuresDf[categorical_featuresDf.isnull().any(axis=1)]
# Which features hava a NaN value?
categorical_featuresDf.columns[categorical_featuresDf.isna().any()].tolist()

[]

In [71]:
# Use binary encoding for the sex feature
from sklearn.preprocessing import LabelBinarizer

# How many differernt sex feature value types
print(color.BOLD + color.PURPLE + "\nHow many different sex feature types?" + color.END)
print(categorical_featuresDf["sex"].value_counts())

label_style = LabelBinarizer()
label_results = label_style.fit_transform(categorical_featuresDf["sex"])
print(color.BOLD + color.PURPLE + "\nLabelBinarizer of sex feature" + color.END)
data_sex = pd.DataFrame({'sex': label_results[:, 0]})
data_sex

How many different sex feature types?
 Male      21790
 Female    10771
Name: sex, dtype: int64

LabelBinarizer of sex feature

       sex
0        1
1        1
2        1
3        1
4        0
...    ...
32556    0
32557    1
32558    0
32559    1
32560    0

[32561 rows x 1 columns]

In [72]:
# Perform label encoding on workclass feature
from sklearn.preprocessing import LabelEncoder
label_work_class = LabelEncoder()
categorical_featuresDf["workclass_code"] = label_work_class.fit_transform(categorical_featuresDf["workclass"])
categorical_featuresDf[["workclass", "workclass_code"]].head(15)

            workclass  workclass_code
0           State-gov               6
1    Self-emp-not-inc               5
2             Private               3
3             Private               3
4             Private               3
5             Private               3
6             Private               3
7    Self-emp-not-inc               5
8             Private               3
9             Private               3
10            Private               3
11          State-gov               6
12            Private               3
13            Private               3
14            Private               3

In [188]:
# Use one-hot encoding on the workclass feature

# How many differernt workclass feature value types
print(color.BOLD + color.PURPLE + "\nHow many different workclass feature types?" + color.END)
print(categorical_featuresDf["workclass"].value_counts())

# One-hot encode the workclass feature
pd.get_dummies(categorical_featuresDf, columns=["workclass"]).head()

How many different workclass feature types?
 Private             24532
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

    education  ... workclass_ Without-pay
0   Bachelors  ...                      0
1   Bachelors  ...                      0
2     HS-grad  ...                      0
3        11th  ...                      0
4   Bachelors  ...                      0

[5 rows x 16 columns]

In [187]:
# Use one-hot encoding on the marital-status feature

# How many differernt marital-status feature value types
print(color.BOLD + color.PURPLE + "\nHow many different marital-status feature types?" + color.END)
print(categorical_featuresDf["marital-status"].value_counts())

# One-hot encode the marital-status feature
pd.get_dummies(categorical_featuresDf, columns=["marital-status"]).head()

How many different marital-status feature types?
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64

           workclass  ... marital-status_ Widowed
0          State-gov  ...                       0
1   Self-emp-not-inc  ...                       0
2            Private  ...                       0
3            Private  ...                       0
4            Private  ...                       0

[5 rows x 15 columns]

In [171]:
# Use one-hot encoding on the native-country feature

# How many differernt native-country feature value types
print(color.BOLD + color.PURPLE + "\nHow many different native-country feature types?" + color.END)
print(categorical_featuresDf["native-country"].value_counts())

# One-hot encode the native-country feature
pd.get_dummies(categorical_featuresDf, columns=["native-country"]).head()

How many different native-country feature types?
 United-States                 29753
 Mexico                          643
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64

           workclass  ... native-country_ Yugoslavia
0          State-gov  ...                          0
1   Self-emp-not-inc  ...                          0
2            Private  ...                          0
3            Private  ...                          0
4            Private  ...                          0

[5 rows x 49 columns]