In [7]:
import boto3
import pandas as pd
from sagemaker import get_execution_role
from sklearn.model_selection import train_test_split

role = get_execution_role()
bucket='machine-learning-exam'
# Load Global Food Production Kaggle dataset
data_key = 'FAO-database.csv'
data_location = 's3://{}/{}'.format(bucket, data_key)

data = pd.read_csv(data_location)
data.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AF,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AF,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AF,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AF,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AF,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [8]:
y = data.latitude
x = data.drop('latitude', axis=1)

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
data.shape

(21477, 63)

In [14]:
x_train.shape

(17181, 62)

In [15]:
x_test.shape

(4296, 62)

In [16]:
y_train.shape

(17181,)

In [17]:
y_test.shape

(4296,)

In [18]:
y.head()

0    33.94
1    33.94
2    33.94
3    33.94
4    33.94
Name: latitude, dtype: float64